body {
	font-family: 'Raleway', sans-serif;
}

.header {
	padding-top:2rem;
}

.header h1 {
	text-decoration: underline;
}

.sub {
	font-size: 1.2rem;
}

#survey {
	font-size: 2rem;
}

.box{
	font-size: 3rem;
	font-family: Arial, Helvetica, sans-serif;
	outline: rgb(225,225,225);
	background: rgb(241,241,241);
	height:150px;
	border-radius: 10px;
	justify-content: center;
	align-items: center;
	display: flex;
	margin-bottom: 3rem;
}

#error {
	display:none;
	color:red;
	text-decoration: underline;
}
