body {
	font-family: 'Raleway', sans-serif;
}

.header {
	padding-top:2rem;
}

.header h1 {
	text-decoration: underline;
}

.header p {
	font-size: 2rem;
}

#survey {
	font-size: 2rem;
}

#generated{
	font-size: 3rem;
	height:150px;
	justify-content: center;
	align-items: center;
	display: flex;
	margin-bottom: 3rem;
}

#error {
	display:none;
	color:red;
	text-decoration: underline;
}
