body {
	font-family: 'Raleway', sans-serif;
}

.header {
	padding-top:2rem;
}

.sub {
	font-size: 1.7rem;
}

#survey {
	font-size: 2rem;
}

#generated{
	font-size: 3rem;
	height:150px;
	justify-content: center;
	align-items: center;
	display: flex;
	margin-bottom: 3rem;
}

.error {
 	transition: all 0.1s linear;
	color:red;
	text-decoration: underline;
	opacity: 1;
}

.error.hidden {
	opacity: 0;
}
